# macOS
.DS_Store

# devbox
.devbox/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Local files created by the workflow
terraform/deployment-record-*.txt
terraform/tf-output-*.json
